@import url(https://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900);
@import url(https://fonts.googleapis.com/css?family=Clicker+Script);

/* This is a comment! */

/* CSS Syntax:

selector {
  property:value;
  property:value;
}

*/

/* Type selector */

p {
  /* select all <p> */
  font-size:16px; /* ?px, ?pt, ?%, ?em 
                     default em-width = 16px, 
                     to find # em's divide by 16 */
  line-height: 1.5em;
}

figcaption {
  /*
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif;

  all the above can be done in one line, as below...
  */

  font: normal 0.75em/1.5em 'Elsie Swash Caps', cursive;
  color: #777777; /* RRGGBB using 0-F: 00FF00 = Green */
                  /* rgba(r, g, b, alpha) r,g,b: 0-255
                     alpha or opacity: 0-1 so 0.5 = 50% opacity*/

  /* Digital Color Meter, program to select colors 
     Use cmd + shift + c to copy all values */                   
  text-align: center;

}

/* Class selector (applied to as many elements as you like) */

.milk-text { /* select elements with class="milk-text" */
  font: bold 2.6em 'Elsie Swash Caps', cursive;
  color: white;
  text-shadow: 0 2px 3px #000; /* horizontal vertical blur-radius #color */

}

/* ID selector (apply to one unique elem per page) */

#logo { /* select elem with id="logo" */
  

}

/* Descendant selector */

#logo h1 { /* styles <h1> inside id="logo" elem */
  font-family: 'Clicker Script', cursive;
}

#logo h2 {
  font-family: 'Elsie Swash Caps', cursive;
}

/* Psuedo selector */

#details a:link, #details a:visited{
  color:black;
  text-decoration: none;
}

#details a:hover {
  color:black;
  text-decoration: underline;
}

#details a:active {
  color:red;
}

/* MEDIA */

img, video, audio {
  max-width: 100%;
}

/* LAYOUT */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.col-1 {
  float: left;
  width: 32%;
}

.col-2 {
  float: left;
  width: 66%;
}

.col-3 {
  /* because display is block, width is 100% by default */
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}
#details {
    padding-top: 0;
}

/* any element that has a class attribute that anywhere
 * within the name has "col-" will get selected here. */
[class*="col-"] {
  margin-left: 2%;
}

.first {
  margin-left: 0%;
}


/* SECTIONS */

header {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  background: #fff;
  z-index: 1;
}

section {
  padding: 20px;
  margin-bottom: 20px;
}

/* SOCIAL */

#social {
  position: fixed;
  top: 200px;
  right: 20px;
  width: 40px;
  z-index: 1;
}

#social a {
  display: block;
  width: 40px;
  height: 40px;
  background-color: yellow;
}
